<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性是名称空间，必须唯一 -->
<mapper namespace="News">

    <!-- resultMap标签:映射实体与表
         type属性：表示实体全路径名
         id属性：为实体与表的映射取一个任意的唯一的名字
    -->
    <resultMap type="crawler.dao.News" id="newsMap">
        <!-- id标签:映射主键属性
             result标签：映射非主键属性
             property属性:实体的属性名
             column属性：表的字段名
        -->
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="date" column="date"/>
        <result property="url" column="url"/>
        <result property="created_date" column="created_date"/>
        <result property="modified_date" column="modified_date"/>
    </resultMap>

    <insert id="news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>

    <select id="findByTitle" parameterType="String" resultType="crawler.dao.News">
        SELECT *
        FROM crawler.news
        where title = #{title};
    </select>

    <insert id="links_solved_add" parameterType="String">
        insert into crawler.links_solved
        values (#{link});
    </insert>

    <insert id="links_to_be_solved_add" parameterType="String">
        insert into crawler.links_to_be_solved
        values (#{link});
    </insert>

    <select id="get_link" resultType="String">
        select *
        from crawler.links_to_be_solved
        limit 0,1;
    </select>

    <delete id="delete_link">
        delete
        from crawler.links_to_be_solved
        limit 1;
    </delete>

    <select id="findBy_Link" resultType="String">
        select *
        from crawler.links_solved
        where link = #{String}
        union
        select *
        from crawler.links_to_be_solved
        where link = #{String};
    </select>

    <insert id="ent_news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.ent_news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>

    <insert id="finance_news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.finance_news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>

    <insert id="mil_news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.mil_news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>

    <insert id="sports_news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.sports_news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>

    <insert id="tech_news_add" parameterType="crawler.dao.News">
        INSERT INTO crawler.tech_news (title, content, date, url)
        VALUES (#{title}, #{content}, #{date}, #{url});
    </insert>
</mapper>

